<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <style>
      /* Email styles need to be inline */
      .text-center {
        text-align: center;
      }

      .border-radius-24 {
        border-radius: 24px;
      }

      .btn-primary {
        background-color: #5c68e2;
        color: white;
        padding: 8px 24px;
        border-radius: 4px;
      }

      hr {
        margin: 20px;
        border: none;
      }

      .w-50 {
        width: 50%;
      }

      @media only screen and (max-width: 600px) {
        .w-50 {
          width: 100%;
        }
      }


    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
